<html>
    <head>
<title>
             <%=title %>
</title>
    </head>
    <body>
        <h1>COntact list </h1>
        <div>
            <ul>
                <% for(let i of contact_Lis){%>
                    <li> <p>
                        <%=.name%>
                    </p>
                <p>
                    <%=i.phone%>
                </p>
            </li>
                    <%}
                    %>
            </ul>
        </div>
    </body>
</html>