/*Aside*/
.widget{
	border-top: 4px solid black;
}
.widget input{
	display: block;
	background-color: pink;
	margin: 14px;
	padding: 2px;
	color: black;
	font-size: 1.2rem;
}
button[type="submit"]{
	font-size: 1.2rem;
	background-color: black;
	color: white;
}
main{ 
		width: 70%;
	 display: inline-block;
	 margin-left: 40px;
	    margin: 20px;
}
aside{
	display: inline-block;
	width: 22%;
	vertical-align: top;
	margin-left: 15px;
}
#author{
	font-weight: bolder;
	font-size: 22px;
    margin-left: -717px;
}