#box1{
	height:200px;
	width: 200px;
	background-color: grey;
border:solid red 2px; 
}
#box2{	
	height: 200px;
	width: 200px;
	background-color: pink;

	border:solid 2px purple;
position: sticky;

left:  20px;
}
#box3{
	border:solid black ;
	
	height: 200px;
	width: 200px;
	background-color: cyan;
}
#outer{
	border: solid black 2px;
	position: relative;

}
#main{
	width: 70%;
	display: inline-block;	
}
#aside{ 
	background-color: green;
border:10px purple;
	display: inline-block;
	vertical-align: top;
	
	right: 10px;
	
}
 form input{
 	display: block;
 }
